body {
    background: #EFEEEE;
}

input {
    color: #000000;
    width: 50% !important;
}

.heading {
    color: rgba(0, 0, 0, 0.884);
    margin-top: 8rem;
}

.center {
    text-align: center;
}

.alert {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgba(255, 0, 0, 0.671);
    margin-bottom: 1.5rem;
}